params {
  outdir = 'results'
  mode = false
  seq_file = false
  input = false
  guppy = false
  flowcell = 'FLO-MIN106'
  kit = 'SQK-LSK109'
  config_file = 'dna_r9.4.1_450bps_modbases_dam-dcm-cpg_hac.cfg'

  assembler = 'raven'
  fastq = false
  polish_map = 'minimap2'
  polish = 'racon'
  short_polish_map = 'bwa'
  short_polish = false
  genome_size = false

  busco_long = false
  quast_reference = false
  quast_features = false

  masurca_file = false

  nextdenovo_bin = false
  nextdenovo_cfg = false

  medaka_model = false

  genome = false

  cu_qual = 7
  cu_length = false
  cu_headcrop = false

  lorean_proteins = false
  lorean_prefix = false
  lorean_stranded = false
  lorean_iproscan = false
  lorean_adapters = false
  lorean_long = false
  lorean_short = false
  lorean_species = false

  short_rna = false
  long_rna = false

  outdir = 'results'
  scratch = false

  tracedir = "${params.outdir}/pipeline_info"
}

profiles {
    standard {
			includeConfig 'conf/nibb-bias5.conf'
		}

		cde {
			includeConfig 'conf/nibb-cde.conf'
      singularity.enabled = true
      singularity.autoMounts = true
		}

    local {
			process.executor = 'local'
    }

}

timeline {
  enabled = true
  file = "${params.tracedir}/timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/dag.svg"
}

process {
    withName:lorean {
        container = 'docker://lfaino/lorean'
    }
}

manifest {
  name = 'NanoporeSeq'
  author = 'Gergo Palfalvi'
  homePage = 'https://github.com/palfalvi/nanoporeseq'
  description = 'Utils for ONT based sequence analysis'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0dev'
}
