params {
  outdir = 'results'
  mode = false
  seq_file = false
  input = false
  guppy = false
  flowcell = 'FLO-MIN106'
  kit = 'SQK-LSK109'
  config_file = 'dna_r9.4.1_450bps_modbases_dam-dcm-cpg_hac.cfg'
  assembler = 'miniasm'
  fastq = false
  polish = false
  genome_size = false
  busco = false

  masurca_file = false

  genome = false

  outdir = 'results'
  scratch = false

  tracedir = 'params.outdir/pipeline_report'
}

profiles {
    standard {
			includeConfig 'conf/nibb-bias5.conf'
		}

		cde {
			includeConfig 'conf/nibb-cde.conf'
		}

    local {
			process.executor = 'local'
    }

}

timeline {
  enabled = true
  file = "${params.tracedir}/timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/dag.svg"
}

manifest {
  name = 'NanoporeSeq'
  author = 'Gergo Palfalvi'
  homePage = 'https://github.com/palfalvi/nanoporeseq'
  description = 'Utils for ONT based sequence analysis'
  mainScript = 'main.nf'
  nextflowVersion = '>=0.32.0'
  version = '1.0dev'
}
